@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg: #141B1E;
        --color-grey-light: #BDC3C2;
        --color-grey-dark: #2D3437;
        --color-orange: #E57474;
    }

    html {
        background: var(--color-bg);
        font-family: 'Outfit', sans-serif;
    }
}